PORT=3000
NODE_ENV=development
CLIENT_URL=https://your-frontend.vercel.app
FRONTEND_URL=https://your-frontend.vercel.app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=fitnessapp
DB_PORT=3306
GEMINI_API_KEY=
GROQ_API_KEY=
JWT_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

RECEIVER_EMAIL=

MIGRATE_TOKEN=